.card .list-inline-item:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.card{
    transform: scale(1.0, 1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    padding: 10px;
}

