<!-- <p>review-list works!</p> -->

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.moviemeter.nl/images/cover/1000/1015.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Movie title</h5>
      <p class="card-text">Rating: 10/10</p>
      <a href="#" class="btn btn-dark mr-2">Full review</a>
      <a href="#" class="btn btn-secondary">Edit review</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.moviemeter.nl/images/cover/1000/1015.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Movie title</h5>
      <p class="card-text">Rating: 10/10</p>
      <a href="#" class="btn btn-dark mr-2">Full review</a>
      <a href="#" class="btn btn-secondary">Edit review</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.moviemeter.nl/images/cover/1000/1015.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Movie title</h5>
      <p class="card-text">Rating: 10/10</p>
      <a href="#" class="btn btn-dark mr-2">Full review</a>
      <a href="#" class="btn btn-secondary">Edit review</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.moviemeter.nl/images/cover/1000/1015.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Movie title</h5>
      <p class="card-text">Rating: 10/10</p>
      <a href="#" class="btn btn-dark mr-2">Full review</a>
      <a href="#" class="btn btn-secondary">Edit review</a>
    </div>
</div>


<!-- <div class="row">
  <div class="col-2" *ngFor="let review of reviews">
      <app-member-card [review]="review"></app-member-card>
  </div>
</div> -->