<h1>Reviews of {{ member?.username | titlecase}}</h1>
<div class="cards" >
  <div class="card" *ngFor="let review of reviews">
    <div class="image">
      <img src="{{review.movie.poster}}"/>
    </div>
    <div class="card-title">
      <h2>{{review.movie.title}}</h2>
    </div>
    <div class="card-body">
      <h5>Score: {{review.score}}</h5>
      <a href="http://imdb.com/title/{{review.movie.imdbId}}" target="_blank" class="imdb-logo button btn btn-warning">IMDb</a>
      <button class="button btn btn-dark">Full review</button>
      <button class="button btn btn-secondary" (click)="editReview(review)">Edit review</button>
    </div>
  </div>

</div>
