* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: arial;
  }
  .main {
    margin: 2%;
  }
  
  .card {
    width: 25%;
    display: inline-block;
    margin: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .card:hover {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .image img {
    width: 100%;
  }
  
  .card-title {
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  /* Imdb button */
  .imdb-logo {
    font: 1.8em/1 Impact, HelveticaNeue-CondensedBold, sans-serif;
    color: #000;
    text-shadow: 0 0 0.15em #fff;
    text-decoration: none;
  
    display: inline-block;
    padding: 0.15em 0.25em;
    border-radius: 0.15em;
    background: radial-gradient(#ffffb8, #ce981d);
    margin: 5px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .imdb-logo:hover {
    background: radial-gradient(lighten(#ffffb8, 10%), lighten(#ce981d, 10%));
  }
  
  .card-button {
    padding-bottom: 5px;
    text-align: center;
  }
  

  .button{
    border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
    padding: 0.25em 0.25em;
	text-transform: uppercase;
	display: block;
	transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
  }

  .button:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	background: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s ease 0s;
}
  



  /* Responsiveness smaller screens */
  @media(max-width: 1200px){
    .card{
        width: 25%;
    }
  
  }
  /* smallest screens */
  @media(max-width: 992px){
    .card{
      width: 40%;
    }
  }
  