
<!-- <input type="text" [formControl]="searchControl" placeholder="Search" class="searchbox" (ngSubmit)="search()"> -->
<input type="search" [(ngModel)]="searchString" placeholder="Search a movie" class="form-control" (keyup.enter)="search()">


<div class="cards" >
  <div class="card" *ngFor="let movie of movies | async">
    <div class="image">
      <!-- <img src="{{movie.Poster == "N/A"?'./assets/default.png':movie.Poster}}"/> -->
      <img [src]="checkIfImageExists(movie)"/>
    </div>
    <div class="card-title">
      <h2>{{movie.Title}}</h2>
    </div>
    <div class="card-button">
      <a href="http://imdb.com/title/{{movie.imdbID}}" target="_blank" class="imdb-logo button btn btn-warning">IMDb</a>
      <a class="button btn btn-dark" (click)="addToWatchlist(movie)">Add To Watchlist <div class="back"></div></a>
      <a class="button btn btn-secondary" (click)="createReview(movie)">Add Review</a>
    </div>
  </div>

  <div class="mt-5" *ngIf="(movies | async) === undefined">
    <h4>No movies found... Try another searchterm</h4>
  </div>
</div>
