* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: arial;
  }
  .main {
    margin: 2%;
  }
  
  .card {
    width: 25%;
    display: inline-block;
    margin: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .card:hover {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .image img {
    width: 100%;
  }
  
  .card-title {
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  /* Imdb button */
  .imdb-logo {
    color: #343a40; 
    font-weight: 500;
  }
  
  
  .card-button {
    padding-bottom: 5px;
    text-align: center;
  }
  

  .button{
    width: 80%;
    margin: 5px;
    padding: 0.25em 0.25em;

  }

  



   /* Searchbox */
    .searchbox input {
      width: 65px;
      border: 1px solid #ccc;
      padding: 8px;
      font-size: 15px;
      transition: width 0.2s;
      -webkit-appearance: none;
    }


  /* Responsiveness smaller screens */
  @media(max-width: 1200px){
    .card{
        width: 25%;
    }
  
  }
  /* smallest screens */
  @media(max-width: 992px){
    .card{
      width: 40%;
    }
  }
  