<div class="container">

  <h3 class="d-flex justify-content-center">Movie Review</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="review" class="m-1 btn btn-light btn-outline-primary" Button>Reviews</button>
      </li>

      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary" Button>Watchlist</button>
      </li>

      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary" Button>Search</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

