<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-dark">Sign up</h2>
    <hr>
    <div class="form-group">
        <input
            [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="username"
            data-cy="usernameInputRegister"/>
        <div class="invalid-feedback">Please enter a username</div>
    </div>

    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
            type="password" 
            class="form-control" 
            formControlName='password' 
            placeholder="password"
            data-cy="passwordInputRegister">
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback" data-cy="passwordRequired">Please enter a password</div>
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback" data-cy="passwordTooShort">Password must be at least 4 characters</div>
        <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback" data-cy="passwordTooLong">Password must be at most 16 characters</div>
    </div>

    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
            type="password" 
            class="form-control" 
            formControlName='confirmPassword' 
            placeholder="Confirm Password"
            data-cy="confirmPasswordInputRegister">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback" data-cy="passwordRequired">Please enter a confirm password</div>
        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback" data-cy="passwordNotMatching">Confirm password must match password</div>
    </div>


    <div class="row" *ngIf="validationErrors?.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>


    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit" data-cy="registerButton">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>