<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Movie Review</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
    aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav" *ngIf="accountService.currentUser$ | async"> 
      <span class="navbar-toggler-icon"></span>
    </button >
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink='/reviews' (click)="isCollapsed = true" routerLinkActive='active'>My Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/watchlist' (click)="isCollapsed = true" routerLinkActive='active'>Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/members' (click)="isCollapsed = true" routerLinkActive='active'>Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/search' (click)="isCollapsed = true" routerLinkActive='active'>Search</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown> 
      <a class="dropdown-toggle text-light" dropdownToggle data-cy="dropdownToggle">Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <!-- <a class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div> -->
        <a class="dropdown-item" (click)="logout()" data-cy="logoutButton">Logout</a>
      </div>
    </div>



    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-2"
        type="search"
        placeholder="Username"
        data-cy="usernameInput"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-2"
        type="password"
        placeholder="Password"
        data-cy="passwordInput"
      />
      <button class="btn btn-success" type="submit" data-cy="loginButton">Login</button>
    </form>
  </div>
</nav>
