<div class="row" >
    <div class="col-4">
        <h1>Review</h1>
    </div>
    <div class="col-8">
        <!-- <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost
        </div> -->
    </div>
    <!-- Movie card -->
    <div class="col-4" *ngIf="review">
        <div class="card">
            <img [src]="checkIfImageExists()" class="card-img-top img-thumbnail">

            <div class="card-body">
                <div>
                    <strong>Title:</strong>
                    <p>{{movie.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <form id="reviewForm" *ngIf=review>
            <h4>Score</h4>
            <input class="form-control" type="number" readonly value={{review.score}}>

            <h4>Review</h4>
            <textarea class="form-control" type="text" readonly rows="5" value={{review.reviewtext}}></textarea>

        </form>
    </div>
</div>
