<div class="row" >
    <div class="col-4">
        <h1>Update Review</h1>
    </div>
    <div class="col-8">
        <!-- <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost
        </div> -->
        <div class="row" *ngIf="validationErrors?.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
    <!-- Movie card -->
    <div class="col-4" *ngIf="review">
        <div class="card">
            <img [src]="checkIfImageExists()" class="card-img-top img-thumbnail">

            <div class="card-body">
                <div>
                    <strong>Title:</strong>
                    <p>{{movie.title}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button form="reviewForm" type="submit" class="btn btn-success btn-block">Save changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <form [formGroup]='reviewForm' (ngSubmit)="updateReview()" id="reviewForm" *ngIf="reviewForm">
            <h4>Score</h4>
            <!-- <textarea class="form-control" name="score" rows="6"></textarea> -->
            <input class="form-control" type="number" formControlName='score'
            [class.is-invalid]='reviewForm.get("score").errors && reviewForm.get("score").touched'>
            <div *ngIf="reviewForm.get('score').hasError('required')" class="invalid-feedback">A score is required</div>
            <div *ngIf="reviewForm.get('score').hasError('min')" class="invalid-feedback">Minimum score is 0</div>
            <div *ngIf="reviewForm.get('score').hasError('max')" class="invalid-feedback">Maximum score is 10</div>

            <!-- <h4 class="mt-2">Looking for</h4>
            <textarea class="form-control" [(ngModel)]="review.lookingFor" name="lookingFor" rows="6"></textarea>
            <h4 mt-2>Interests</h4>
            <textarea class="form-control" [(ngModel)]="review.interests" name="interests" rows="6"></textarea> -->
            <!-- <h4 class="mt-2">Location Details: </h4> -->
            <!-- <div class="form-inline">
                <label for="city">City: </label>
                <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
                <label for="city">Country: </label>
                <input [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">
            </div> -->
        </form>
    </div>
</div>
